:root {
    --grey-old: #282834;
    --grey-mid: #5E5F74;
    --grey-std: #363543;
    --grey-low: #BEBEBE;
    --sun-yellow: #FBBA20;
    --white: #ffffff;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    scroll-behavior: smooth;
}

/* START GENERAL CSS */
.btn {
    cursor: pointer;
    border-style: solid;
    border-color: var(--sun-yellow);
    color: var(--sun-yellow);
    border-width: 2px;
    align-items: center;
    width: 160px;
    height: 54px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
}

.btn:hover {
    color: white;
    background-color: var(--sun-yellow);
    transition: all 0.5s;

}

.second-btn {
    cursor: pointer;
    border-style: solid;
    border-color: var(--white);
    color: var(--white);
    border-width: 2px;
    align-items: center;
    padding: 5px 10px;
    width: 160px;
    height: 54px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    margin: 60px 0 60px 10px;
}

.second-btn:hover {
    color: var(--sun-yellow);
    background-color: var(--white);
    transition: all 0.5s;
}

/* END OF GENERAL CSS */

/* START OF SCROLL TO TOP */
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FBBA20;
    color: white;
    cursor: pointer;
    padding: 3px 4px 1px 4px;
    border-radius: 30px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

/* END OF SCROLL TO TOP */

/* START OF NAVBAR */
header {
    padding: 3vh 5vw;
    background-color: var(--grey-std);
}

.underline {
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
}

.underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.underline:hover:after {
    width: 100%;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

ul li {
    margin: 5px 15px;
}

li a {
    color: var(--white);
    transition: all 0.5s;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

li a:hover {
    color: var(--sun-yellow);
}

.cv-section {
    cursor: pointer;
    display: flex;
    border-style: solid;
    border-color: var(--white);
    border-width: 2px;
    align-items: center;
}

.cv-section a {
    color: var(--white);
    transition: all 0.5s;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.cv-section:hover {
    background-color: hsl(42, 96%, 55%, 0.3);
    border-color: var(--sun-yellow);
    transition: all 0.5s;
}

.cv-section a:hover {
    font-size: 16px;
}

header .btn{
    margin: 0;
}

/* END OF NAVBAR */

/* START OF HOME */
section:nth-child(1) {
    background-color: var(--grey-std);
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

aside {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside img {
    display: flex;
    height: 75vh;
}

article {
    display: flex;
    width: 40vw;
    height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--white);
    font-family: 'Poppins';
    font-style: normal;
}

article h1 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2.3px;
}

article span {
    color: var(--sun-yellow);
    font-size: 40px;
}

article p {
    line-height: 1.8;
    text-align: justify;
}

article h3 {
    font-weight: 500;
    font-size: 20px;
}

article hr {
    background-color: #FBBA20;
    border: 0px;
    width: 120px;
    padding: 2.5px 0px;
    border-radius: 4px;
}

article a {
    color: var(--sun-yellow);
}

article a:hover {
    color: var(--white);
    transition: .5s ease;
}

article br {
    border-color: var(--sun-yellow);
}
/* END OF HOME */

/* START OF ABOUT */
section:nth-child(2) {
    background-color: var(--grey-old);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.statistic {
    display: flex;
    align-items: center;
}

.top-bar {
    color: white;
    padding: 0px 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.top-bar h3 {
    margin-bottom: 20px;
    color: var(--sun-yellow);
    font-size: 30px;
}

.top-bar p {
    font-size: 16px;
}

.statistic hr {
    height: 10vh;
    width: 1px;
    background-color: #fff;
}

.about-me {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
}

.about-me img {
    height: 50vh;
}

.read-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 50vw;
}

.read-me hr{
    background-color: #FBBA20;
    border: 0px;
    width: 120px;
    margin: 20px 0;
    padding: 2.5px 0px;
    border-radius: 4px;
}

.read-me p {
    margin: 20px 0 20px 0;
    text-align: justify;
    line-height: 1.8;
    font-weight: 400;
}

.read-me .btn,.second-btn{
    margin-bottom: 0;
}

.read-me button {
    margin-top: 20px;
}
/* END OF ABOUT */

/* START OF PORTFOLIO */
section:nth-child(3) {
    background-color: var(--grey-std);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 190vh;
}

.sub-header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vh;
    justify-content: center;
}

.sub-header hr {
    background-color: #FBBA20;
    border: 0px;
    width: 120px;
    margin: 1vh 0 1vh 0;
    padding: 2.5px 0px;
    border-radius: 4px;
}

#portfolio .gallery-separator{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 160vh;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-overlay {
    position: absolute;
    width: 500px;
    height: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: #d09d27;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-overlay:hover {
    opacity: 1;
}

.big-overlay a {
    color: white;
}

.small-overlay {
    position: absolute;
    width: 236px;
    height: 236px;
    opacity: 0;
    transition: .5s ease;
    background-color: #d09d27;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-overlay:hover {
    opacity: 1;
}

.small-overlay p {
    font-size: 16px;
}

.small-overlay a {
    color: white;
}

.small-overlay.second {
    left: 67.55vw;
}

.big-overlay.index2, .small-overlay.index2{
    background-color: rgb(187, 34, 34);
}

.big-gallery {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.big-gallery img {
    width: 500px;
}

.small-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-gallery {
    display: flex;
}

.row-separator {
    margin: 14px;
}

.details {
    margin-top: 25px;
    display: flex;
}

.details a {
    font-weight: 500;
}

.details a:hover {
    color: black;
    transition: .5s ease;
}

.row-gallery img {
    width: 236px;
}

section:nth-child(3) a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-gallery {
    display: flex;
}
/* END OF PORTFOLIO */

/* START OF CONTACT */
footer section:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--grey-old);
    height: 40vh;
}

.contact-info {
    display: flex;
    justify-content: center;
    color: white;
}

.contact-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8.5vw;
}

.contact-row h3 {
    margin: 27px 0 5px 0;
}

.contact-row a {
    color: rgb(214, 208, 208);
}

.contact-row a:hover {
    color: #FBBA20;
    transition: all 0.5s;
}

.chat-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* END OF CONTACT */

/* START OF FORM */
footer section:nth-child(2){
    height: 30vh;
    background-color: var(--grey-std);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.contact h2 {
    color: white;
    font-size: 2.1em;
}

.contact span{
    color: var(--sun-yellow);
}
/* END OF FORM */

/* START OF CP */
.copy-right {
    height: 10vh;
    background-color: var(--grey-old);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.copy-right p {
    margin: 0 0;
}

.copy-right span {
    color: #FBBA20;
}
/* END OF CP */